body {
	margin: 0;
	padding: 0;
	line-height: 1;
	border: 0;
	box-sizing: border-box;
}


ul{
	list-style-type: none;
}

a{
	text-decoration: none;
}


h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}



