.conteiner{
	width: 100%;
}

h1{
	font-family: fontForH;
	color:#D4C17F;
	font-size: 48px;
	line-height: 64px;
}

h2{
	font-family: fontForH;
	color:#D4C17F;
	font-size: 36px;
	line-height: 48px;
}   

a,p{color: white}

main{
	background-color: #242B33;
}

.robotoText{
	font-family: Roboto;
	font-size: 135%;
	line-height: 27px;
}



           /*  header   CSS    cod*/


header{
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #242B33;          /*не зменшується в ширині */
	width: 100%;
	height: 95px;
	max-height: 95px;
	z-index: 99;
}

nav{
	display: flex;
	justify-content: space-around;
	flex-flow: row nowrap;
	align-items: center;
	width: 40%;
}


          /*   start main CSS cod    */




.firstBackFon{
	background-image:url(../img/firstImg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 840px;
	max-height: 840px;	
	display: flex;
	justify-content: center;
	align-items: center;
}

.firstBackFon p{
	font-family: fontForP;
	font-size: 18px;
}

.centreSiteInfo{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-between;
	width: 39%;
	height: 56%;	
}

.nameHouseComplex{
	display: flex;
	text-align: center;
	flex-wrap: nowrap;	
}


.adressAndPhone{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 100%;
}

.adressAndPhone div{
	display: flex;
	justify-content: space-around;
	flex-flow: row nowrap;
}

.adressAndPhone > div:first-child{width: 45%;}

.adressAndPhone > div:last-child{width: 35%;}

    /*   start   main   part  2    CSS   cod */

.mainPart2{
	position: relative;
	width: 100%;
	height: 420px;
	max-height: 420px;
	display: flex;
	justify-content: center;
	margin-top: 5%;
}

.Part2ImgAndText{
	display: flex;
	justify-content: space-around;
	max-width: 794px;
	max-height: 180px;
	flex-grow: 1;
	flex-flow: row wrap;
}

.Part2ImgAndText div{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	text-align: center;
}

.number2{
	position: absolute;
	left: 75%;
	bottom: 33%;
	max-height: 507px;
	max-width: 301px;
	font-family: fontForH;
	color: #FFFFFF;
	font-size: 400px;
	line-height: 533px;
	opacity: 0.02;
}


   /*   start   main   part  3    CSS   cod */

.mainPart3{
	position: relative;
	width: 100%;
	height: 806px;
	display: flex;
	justify-content: center;
}

.part3Flats{
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	width: 1100px;
	max-width: 1100px;
	height: 806px;
	/max-height: 806px;
}

.part3Flats h2{
	height:102px;
}

.part3Img{
	height: 704px;
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-content: space-between;
	flex-basis: auto;
	z-index: 2;
}

.numb3 h2{
	position: absolute;
	top: 0%;
	left: 0%;
	max-width: 452px;
	max-height: 507px;
	font-family: fontForH;
	font-size: 400px;
	line-height: 533px;
	opacity: 0.02;
	z-index: 1;
}

.part3Img p{
	font-family:fontForP;
	font-size: 24px;
	line-height: 28px;
}

			/* img мінять ширину сторінки при зменшенні, як зробити шоб вони накладувались друг на друга*/

.part3Img p:nth-last-child(1){
	position: absolute;
	left: 58%;
	bottom: 53%;
}

.part3Img p:nth-last-child(2){
	position: absolute;
	left: 8%;
	bottom: 53%;
}

.part3Img p:nth-last-child(3) {
	position: absolute;
	left: 58%;
	bottom: 6%;
}

.part3Img p:nth-last-child(4) {
	position: absolute;
	left: 8%;
	bottom: 6%;
}


     /*Form    CSS    cod*/

.formDiv{
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../img/backForForm.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 560px;
}

.centralForm{
	display: flex;
	justify-content: space-between;
	height: 200px;
	width: 1110px;
}

.bigText{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	width: 50%;
}

.bigText p{
	font-family: fontForP;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 0;
}

.form{
	display: flex;
	align-self: flex-end;
	flex-flow: row wrap;
	align-content: space-between;
	justify-content: space-between;
	height: 135px;
	width: 530px;
}

.userName{
	display: flex;
	justify-content: center;
	width: 255px;
	height: 50px;
	background-color: #FFFFFF;
	opacity: 0.2;
}

.userName p{
	font-family: fontForP;
	color: #BEBEBE;
	font-size: 14px;
	line-height: 27px;
}

.yourNumber{
	display: flex;
	justify-content: center;
	width: 255px;
	height: 50px;
	background-color: #FFFFFF;
	opacity: 0.2;                 /* чого не можна вказати колір шрифта в діві*/
}

.yourNumber p{
	font-family: fontForP;
	color: #BEBEBE;
	font-size: 14px;
	line-height: 27px;
}

.lookPosition{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 255px;
	height: 50px;
	background: #D4C17F;
	font-family: fontForP;
	font-weight: 700;
	font-size: 16px;
	line-height: 27px;
}

.formInfo{
	display: flex;
	align-items: center;
	width: 255px;
	height: 50px;
	font-family: fontForP;
	font-size: 13px;
	line-height: 16px;
}

         /* Part    4    cod     CSS*/

.part4{
	position: relative;
	display: flex;
	justify-content: center;
	height: 650px;
	width: 100%;
	background-color: #242B33;
}

.part4Video{
	position: relative;
	height: 650px;
	width: 719px;
	z-index: 1;
}

.part4Video>img:last-child{
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	transform: translate(-50%,-50%);
}

.number4{
	width: 418px;
	height: 507px;
	position: absolute;
	right: 0%;
	top: 10%;
	opacity: 0.02;
}

.number4 h2{
	font-family: fontForH;
	font-size: 400px;
	line-height: 533px;
}

            /* Part    5    cod     CSS*/

.part5{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1170px;
	width: 100%;
	background-color: #242B33;
}

.part5Topdiv{
	width: 1110px;
	height: 810px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

.map{
	width: 100%;
	height: 358px;
	background-color: #626262;
	z-index: 3;
}

.part5Form{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	width: 100%;
	height: 136px;
}

.form5Part{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.number5{
	position: absolute;
	left: 12%;
	top: 13%;
	width: 268px;
	height: 507px;
	opacity: 0.02;
}

.number5 h2{
	font-size: 400px;
	line-height: 533px;
}


           /* Footer    cod     CSS*/

footer{
	height: 272px;
	width: 100%;
	background-color: #2D343C;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footerDiv{
	display: flex;
	justify-content: space-between;
	height: 161px;
	width: 1110px;
}

.footerHREF{
	margin: 10.5px 0 10.5px 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

footer a,p{
	font-family: fontForP;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.05em;
}

.logoFooter a{
	padding-right: 8%;
}

#email{
	color: #D4C17F;
	padding-left: 5%;
}


        /*   FONT     */


@font-face{
	font-family: "fontForH";
	src: url("../fonts/PlayfairDisplay.ttf");
	font-style: normal;
	font-weight: 700;
	}

@font-face{
	font-family: "fontForP";
	src: url("../fonts/Raleway.ttf");
	font-style: normal;
	font-weight: 500;
}

@font-face{
	font-family: "Roboto";
	src: url("../fonts/Roboto.ttf");
	font-style: normal;
	font-weight: 300;
}

/* чогось не виходить підключити шрифт по ширині*/
